@import 'tailwindcss';

body {
  background-color: #25283d;
  color: #fff;
}

@layer components {
  .calendar-input {
    @apply appearance-none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .calendar-input::-webkit-calendar-picker-indicator {
    background: none;
    width: 30px;
    height: 30px;
  }

  .calendar-input::-webkit-datetime-edit {
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
