@import "tailwindcss";

body {
  background-color: #25283D;
  color: #fff;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
  width: 30px;
  height: 30px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}