@import 'tailwindcss';

@theme {
  --color-primary: #7d82b8;
  --color-secondary: #e0c1b3;
  --color-background: #25283d;
  --color-accent-background: #484a59;
  --color-foreground: #fff;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

@layer components {
  .calendar-input {
    @apply appearance-none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .calendar-input::-webkit-calendar-picker-indicator {
    background: none;
    width: 30px;
    height: 30px;
  }

  .calendar-input::-webkit-datetime-edit {
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
